/VIRAT_Dataset/
Database_n_Files/yolov4.weights
jetbrains://pycharm/navigate/reference?project=Video_Analytics_YOLOv4&path=Database_n_Files/*.mp4
jetbrains://pycharm/navigate/reference?project=Video_Analytics_YOLOv4&path=Database_n_Files/train/*.jpg
jetbrains://pycharm/navigate/reference?project=Video_Analytics_YOLOv4&path=Database_n_Files/test/*.jpg

Database_n_Files/YOLOv4_Inferencing_commands.txt
Database_n_Files/YOLOv4_Train_commands.txt
/Database_n_Files/train/
YOLOv4